//META{"name":"MemberIconsOnly","description":"Makes the members list just icons.","author":"jadc","version":"1.0"}*//

.channel-members-wrap{min-width:0;width:3em}.member-inner{display:none}.channel-members-wrap .old-h2{opacity:0}.member .avatar-small{left:-1.5em}.member{width:3em;right:0}.userPopout-11hFKo{position:relative;right:16.5em}
